<div class="lg:ml-64 px-5 py-10 space-y-4 dark:text-white">
  <div class="flex justify-between">
    <h1 class="font-semibold text-2xl">User List</h1>
    <div>
      <button
        (click)="changeDropdown()"
        class="hover:text-gray-800 dark:hover:text-gray-300 transition-all"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32px"
          viewBox="0 0 24 24"
          width="32px"
          fill="currentColor"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
          />
        </svg>
      </button>
      <div
        [ngClass]="{ hidden: !createDropdown }"
        class="absolute transition-all right-5 w-40 z-20 py-2 origin-top-right bg-white border rounded-md shadow-xl dark:bg-gray-800"
      >
        <button
          (click)="showCreateModal(true)"
          class="w-full px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          From AIO login
        </button>
        <button
        (click)="showCreateModal(false)"
          class="w-full px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          New User
        </button>
      </div>
    </div>
  </div>
  <div
    class="overflow-hidden rounded-lg border border-gray-200 dark:border-gray-600 shadow-md"
  >
    <table
      class="w-full border-collapse bg-white text-sm text-gray-500 text-center"
    >
      <thead class="bg-gray-50 dark:bg-slate-800">
        <tr class="text-gray-900 dark:text-white">
          <th scope="col" class="px-6 py-4 font-medium">NIK</th>
          <th scope="col" class="px-6 py-4 font-medium">Name</th>
          <th scope="col" class="px-6 py-4 font-medium">Email</th>
          <th scope="col" class="px-6 py-4 font-medium">Password</th>
          <th scope="col" class="px-6 py-4 font-medium">Role</th>
          <th scope="col" class="px-6 py-4 font-medium">Status</th>
          <th scope="col" class="px-6 py-4 font-medium">Action</th>
        </tr>
      </thead>
      <tbody
        class="divide-y dark:bg-slate-700 dark:text-white divide-gray-100 border-t border-gray-100 dark:border-gray-600 dark:divide-gray-600"
      >
        <tr
          *ngFor="let item of usersApi | paginate : config"
          class="cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700"
        >
          <th class="px-6 py-4 font-medium">
            {{ item.lg_nik }}
          </th>
          <td class="px-6 py-4">{{ item.lg_name }}</td>
          <td class="px-6 py-4">{{ item.lg_email_aio }}</td>
          <td class="px-6 py-4">{{ item.lg_password }}</td>
          <td class="px-6 py-4">
            <span
              [ngClass]="
                item.roleId == 1
                  ? 'bg-sky-50 dark:bg-sky-700 text-sky-600 dark:text-sky-100'
                  : 'bg-slate-50 dark:bg-slate-700 text-slate-600 dark:text-slate-100'
              "
              class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-sm font-semibold"
            >
              {{ item.roleId == 1 ? "Admin" : "Intern" }}
            </span>
          </td>
          <td class="px-6 py-4">{{ item.status }}</td>
          <td class="flex justify-center h-full gap-4 px-6 py-4 font-medium">
            <!-- <button
            (click)="editComp.changeShow(true, item)"
            class="p-1.5 border hover:bg-yellow-100 dark:hover:bg-yellow-700 rounded-md"
          >
            Edit
          </button> -->
            <button
              (click)="deleteRow(item)"
              class="p-1.5 border hover:bg-red-100 dark:hover:bg-red-900 rounded-md"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="px-6 py-2.5 grid gap-3 md:flex justify-around md:items-center border-t bg-gray-50 dark:bg-slate-800 border-gray-200 dark:border-gray-600"
    >
      <pagination-template
        #p="paginationApi"
        [id]="config.id"
        (pageChange)="config.currentPage = $event"
      >
        <div class="custom-pagination flex gap-1">
          <div class="pagination-previous">
            <!-- <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                                      <
                                    </span> -->
            <button
              (click)="p.previous()"
              [disabled]="p.isFirstPage()"
              [ngClass]="
                p.isFirstPage()
                  ? 'text-gray-400 '
                  : 'text-gray-700 dark:hover:bg-slate-800'
              "
              type="button"
              class="py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-md border dark:border-gray-600 font-medium bg-white dark:bg-slate-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm"
            >
              <svg
                class="w-3 h-3"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                />
              </svg>
              Prev
            </button>
          </div>
          <div
            class="page-number px-2.5 cursor-pointer flex items-center border rounded-md dark:bg-slate-700 hover:bg-slate-100 dark:hover:bg-slate-800"
            [ngClass]="
              p.getCurrent() === page.value
                ? 'font-semibold border-black dark:border-gray-500'
                : ''
            "
            *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value"
            (click)="p.setCurrent(page.value)"
          >
            <h1 *ngIf="p.getCurrent() !== page.value">
              {{ page.label }}
            </h1>
            <div *ngIf="p.getCurrent() === page.value">
              <h1>{{ page.label }}</h1>
            </div>
          </div>
          <div class="pagination-next">
            <!-- <span *ngIf="!p.isLastPage()" (click)="p.next()">
                                      >
                                    </span> -->
            <button
              (click)="p.next()"
              type="button"
              [disabled]="p.isLastPage()"
              [ngClass]="
                p.isLastPage()
                  ? 'text-gray-400'
                  : 'text-gray-700 dark:hover:bg-slate-800'
              "
              class="py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-md border dark:border-gray-600 font-medium bg-white dark:bg-slate-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm"
            >
              Next
              <svg
                class="w-3 h-3"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </button>
          </div>
        </div>
      </pagination-template>
      <div class="flex gap-x-2 items-center">
        <label for="" class="text-xs font-medium">Show Per Page</label>
        <select
          #selectItemPerPage
          id="selectItemPerPage"
          (change)="changeItemPerPageSelect(selectItemPerPage.value)"
          class="py-1.5 px-3 pr-5 block border border-gray-200 dark:border-gray-600 dark:bg-slate-700 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
        >
          <option selected>5</option>
          <option>10</option>
          <option>20</option>
        </select>
      </div>
    </div>
  </div>
</div>

<app-create-users-aio></app-create-users-aio>
<app-create-users-new></app-create-users-new>
