@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(./Jost-Thin.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(./Jost-ExtraLight.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./Jost-Light.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Jost-Regular.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./Jost-Medium.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./Jost-SemiBold.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./Jost-Bold.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./Jost-ExtraBold.ttf);
  }
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./Jost-Black.ttf);
  }
  