<div class="lg:ml-64 px-5 py-10 space-y-4">
  <div>
    <h1 class="font-semibold text-2xl">Project List</h1>
  </div>
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
    <table
      class="w-full border-collapse bg-white text-left text-sm text-gray-500 text-center"
    >
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">User</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Department
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            App Name
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Progres
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr *ngFor="let item of projectsApi" class="hover:bg-gray-50">
          <th class="px-6 py-4 font-medium text-gray-900">
            {{ item.users_role.nik }}
          </th>
          <td class="px-6 py-4">{{ item.department.department_name }}</td>
          <td class="px-6 py-4">{{ item.appName }}</td>
          <td class="px-6 py-4">
            <span
              class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-sm font-semibold text-green-600"
            >

              {{ item.progress }}%
            </span>
          </td>
          <td class="flex justify-center gap-4 px-6 py-4 font-medium">
            <a href="">Delete</a><a href="" class="text-primary-700">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
