<div class="lg:ml-64 px-5 py-10 space-y-4 dark:text-white">
  <div class="flex justify-between">
    <h1 class="font-semibold text-2xl">Project List</h1>
    <button
      (click)="createComp.changeShow(true)"
      class="hover:text-gray-800 dark:hover:text-gray-300 transition-all"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 0 24 24"
        width="32px"
        fill="currentColor"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
        />
      </svg>
    </button>
  </div>
  <div
    class="overflow-hidden rounded-lg border border-gray-200 dark:border-gray-600 shadow-md"
  >
    <table
      class="w-full border-collapse bg-white text-sm text-gray-500 text-center"
    >
      <thead class="bg-gray-50 dark:bg-slate-800">
        <tr class="text-gray-900 dark:text-white">
          <th scope="col" class="px-6 py-4 font-medium">User</th>
          <th scope="col" class="px-6 py-4 font-medium">Department</th>
          <th scope="col" class="px-6 py-4 font-medium">App Name</th>
          <th scope="col" class="px-6 py-4 font-medium">Progres</th>
          <th scope="col" class="px-6 py-4 font-medium">Action</th>
        </tr>
      </thead>
      <tbody
        class="divide-y dark:bg-slate-700 dark:text-white divide-gray-100 border-t border-gray-100 dark:border-gray-600 dark:divide-gray-600"
      >
        <tr
          *ngFor="let item of projectsApi"
          class="hover:bg-gray-50 dark:hover:bg-gray-700"
        >
          <th class="px-6 py-4 font-medium">
            {{ item.users_role.nik }}
          </th>
          <td class="px-6 py-4">{{ item.department.department_name }}</td>
          <td class="px-6 py-4">{{ item.appName }}</td>
          <td class="px-6 py-4">
            <span
              class="inline-flex items-center gap-1 rounded-full bg-green-50 dark:bg-green-700 px-2 py-1 text-sm font-semibold text-green-600 dark:text-green-100"
            >
              {{ item.progress }}%
            </span>
          </td>
          <td class="flex justify-center gap-4 px-6 py-4 font-medium">
            <button
              (click)="toDetails(item.id)"
              class="p-1.5 hover:bg-indigo-100 dark:hover:bg-indigo-900 rounded-md"
            >
              Details
            </button>
            <button
              (click)="editComp?.changeShow(true, item)"
              class="p-1.5 hover:bg-yellow-100 dark:hover:bg-yellow-700 rounded-md"
            >
              Edit
            </button>
            <button
              (click)="deleteRow(item)"
              class="p-1.5 hover:bg-red-100 dark:hover:bg-red-900 rounded-md"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-project-create></app-project-create>
<app-project-edit></app-project-edit>
